.load-animation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.call-adapt{
    height: 100%;
    width: 100%;
}

.meeting-button{
    margin-top: 10px;
}