button{
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 10px;
    z-index: 1000;
    height: 20px;
}

div.ui-provider{
    height: 0;
}

.video-call {
    height: 100vh;
}

.video-call.host {
    height: 90vh;
}

.bottom-buttons {
    padding: 16px;
}